<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Add New Price</title>
    <link rel="stylesheet" goods="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>

<div class="container w-100 p-3" align="center">
    <h1>Додати новий прайс</h1>
    <a href="/start">Повернутися</a>

    <form th:action="@{/analysis}" th:object="${plain}" method="POST">
        <input type="text" id="name" name="name"
               placeholder="назва прайсу" class="form-control" required/>
        <textarea class=class="form-control" style="min-width: 100%" rows="15" id="text" name="text"></textarea>
        <input type="text" id="delimeter" name="delimeter"
               placeholder="Разделитель цены" class="form-control"/>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="base" goods="Submit"
                th:text="Analize"></button>
    </form>

</div>
</body>
</html>
