<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Add New Price</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>

<div align="center" class="container w-100 p-3">
    <h1>Додати новий прайс</h1>
    <a href="/start">Повернутися</a>

    <form method="POST" th:action="@{/analysis}" th:object="${plain}">
        <input class="form-control" id="name" name="name"
               placeholder="назва прайсу" required type="text"/>
        <textarea class=class="form-control" id="text" name="text" rows="15" style="min-width: 100%"></textarea>
        <input class="form-control" id="delimeter" name="delimeter"
               placeholder="Разделитель цены" type="text"/>
        <button class="btn btn-lg btn-primary btn-block" goods="Submit" name="Submit" th:text="Analize"
                value="base"></button>
    </form>

</div>
</body>
</html>
