<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" goods="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>

<details>
    <summary>Наступні записи не вдалося знайти( Деталі тут )</summary>
    <p th:each="bad : ${badlist}" th:text="${bad}"></p>
</details>

<div class="container w-100 p-3" align="center">
    <a href="/add" class="text-center btn btn-lg btn-primary ">Додати ще один прайс</a>
    <a href="/download" class="text-center btn btn-lg btn-primary " target="_blank">Згенерувати прайс у формат .XLSX</a>
</div>

    <br>
<div class="container w-100 p-3" align="center">
<!--    <table border="1">-->
<!--        <tr th:with="firstPer=${list}">-->
<!--        <tr th:each="goodies : ${list}">-->
<!--            <td th:text="${goodies.device.description}"></td>-->
<!--&lt;!&ndash;            <td th:text="${goodies.price}"></td>&ndash;&gt;-->
<!--            <span th:each="priceItem : ${goodies.price}">-->
<!--                <td th:text="${priceItem.price}"></td>-->
<!--            </span>-->
<!--        </tr>-->
<!--    </table>-->
    <table border="1">
        <tbody>
        <tr th:each="row : ${list}">
            <td th:each="value : ${row}" th:text="${value}"></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
<br>


</body>
</html>