<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Додати ще один прайс</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>

<div align="right" class="container w-100 p-3">
    <p>
        <button aria-controls="collapseExample" aria-expanded="false" class="btn btn-link" data-target="#collapseText"
                data-toggle="collapse" type="button">
            Не обробленно
        </button>
    </p>
    <div class="collapse" id="collapseText">
        <div class="card card-body">
            <p th:each="bad : ${badlist}" th:text="${bad}"></p>
        </div>
    </div>
    <p>
        <button aria-controls="collapseExample" aria-expanded="false" class="btn btn-link" data-target="#collapseText1"
                data-toggle="collapse" type="button">
            Без ціни
        </button>
    </p>
    <div class="collapse" id="collapseText1">
        <div class="card card-body">
            <p th:each="notPrice : ${withOutPriceList}" th:text="${notPrice}"></p>
        </div>
    </div>
</div>

<div align="center" class="container w-100 p-3">

    <a class="text-center btn btn-primary " href="/add">Додати ще один прайс</a>
    <a class="text-center btn btn-success " href="/download" target="_blank">Прайс у формат .XLSX</a>
    <a class="text-center btn btn-success " href="/download?type=category" target="_blank">Прайс по категоріям у формат
        .XLSX</a>
    <a class="text-center btn btn-success " href="/download?type=page" target="_blank">Прайс по сторінкам у формат
        .XLSX</a>
    <a class="text-center btn btn-lg btn-danger" href="/">Обнулити прайс</a>
    <br>
</div>

<br>
<div align="center" class="container w-100 p-3">
    <table class="table table-hover">
        <tbody>
        <tr th:each="row : ${list}">
            <td th:each="value : ${row}" th:text="${value}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>