<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Додати ще один прайс</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>

<p>
    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseText" aria-expanded="false" aria-controls="collapseExample">
        Не обробленно
    </button>
</p>
<div class="collapse" id="collapseText">
    <div class="card card-body">
        <p th:each="bad : ${badlist}" th:text="${bad}"></p>
    </div>
</div>

<div class="container w-100 p-3" align="center">
    <a href="/add" class="text-center btn btn-lg btn-primary ">Додати ще один прайс</a>
    <a href="/download" class="text-center btn btn-lg btn-success " target="_blank">Згенерувати прайс у формат .XLSX</a>
</div>

<br>
<div class="container w-100 p-3" align="center">
    <table border="1">
        <tbody>
        <tr th:each="row : ${list}">
            <td th:each="value : ${row}" th:text="${value}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>