<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>StartPage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>

<div class="container w-100 p-3" align="center">
    <h1>Welcome to price generator system</h1>
    <form th:action="@{/start}" th:object="${plain}" method="POST">
        <input type="hidden" id="name" name="name"
               placeholder="назва прайсу" class="form-control"/>
        <textarea class=class="form-control" style="min-width: 100%" rows="15" id="text" name="text"></textarea>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="base" type="Submit"
                th:text="Згенерувати"></button>
    </form>

        <h2>Або завантажте з файлу</h2>
        <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
        <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Завантажити</button>
        </form>
</div>
</body>
</html>
