<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>StartPage</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>Version 0.3</div>
</body>
<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>

<div align="center" class="container w-100 p-3">
    <h1>Welcome to the price generator system</h1><br>
    <form method="POST" th:action="@{/start}" th:object="${plainText}">
        <input class="form-control" id="name" name="name"
               placeholder="назва прайсу" type="hidden"/>
        <textarea class=class="form-control" id="text" name="text" rows="15" style="min-width: 100%"></textarea>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" th:text="Згенерувати" type="Submit"
                value="base"></button>
    </form>

    <h2>Або завантажте з файлу</h2>
    <p class="alert alert-primary" th:if="${message ne null}" th:text="${message}"></p>
    <form enctype="multipart/form-data" method="post" th:action="@{/upload}">
        <div class="form-group">
            <input class="form-control-file" name="file" type="file">
        </div>
        <button class="btn btn-primary" type="submit">Завантажити</button>
    </form>
</div>
</body>
</html>
