<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>StartPage</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/script.js}"></script>
</head>
<body onload="clearLocalStorage()">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand nav-link text-warning" href="#">Price</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
    </div>
</nav>
<div>Version 0.3.2</div>
<div class="container w-100 p-3">
    <h1>Welcome to the price generator system</h1><br>
    <form method="POST" th:action="@{/start}" th:object="${plainText}">
        <input class="form-control" id="name" name="name"
               placeholder="назва прайсу" type="hidden"/>
        <textarea class=class="form-control" id="text" name="text" rows="15" style="min-width: 100%"></textarea>
        <button class="btn btn-primary btn-block btn-sm" name="Submit" th:text="Згенерувати" type="Submit"
                value="base"></button>
    </form>
    <div align="center">
        <h2>Або завантажте з файлу</h2>
        <form enctype="multipart/form-data" method="post" th:action="@{/upload}">
            <div class="form-group">
                <input class="form-control-file" name="file" required type="file">
            </div>
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="submit">Завантажити</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
